.menuBar{
    height: 5vh;
    width: 100%;
    border-bottom: 1px solid red;
}
.menuBar ul {
    list-style: none;
}
.menuBar ul li { 
    text-decoration: none;
    display: inline-block;
    margin-right: 5%;
    float: left
}

.float-right{
    float: right;
}